.page {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  -webkit-overflow-scrolling: touch;
  transition: transform 500ms ease-in-out;
}

.page-enter {
  transform: translate3d(100%, 0, 0);
}

.page-enter-active {
  position: absolute;
  width: 100%;
  transform: translate3d(0%, 0, 0);
}

.page-enter-done {
}

.page-exit {
  transform: translate3d(0%, 0, 0);
}

.page-exit-active {
  position: absolute;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
}

.page-exit-done {
  transform: translate3d(-100%, 0, 0);
}

