.page {
  height: 100vh;
  position: absolute;
  top: 300px;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0%, 0);
}

.page-enter-done {
  /*transform: translate(-100%, 0);*/
}

.page-exit {
  transform: translate(0%, 0);
}

.page-exit-active {
  transform: translate(-100%, 0);
}

.page-exit-done {
  transform: translate(-100%, 0);
}

