.page {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  -webkit-overflow-scrolling: touch;
  transition: transform 500ms ease-in-out;
}

@keyframes RightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes CenterToLeft {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes LeftToCenter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes CenterToRight {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

.page-enter {
}

.page-to-left-enter-active {
  /*animation: CenterToLeftIn 500ms none ease-in-out;*/
  position: absolute;
  width: 100%;
  animation: RightToCenter 500ms both ease-in-out;
}

.page-to-left-exit-active {
  position: absolute;
  width: 100%;
  animation: CenterToLeft 500ms both ease-in-out;
}

.page-enter-done {
}

.page-exit {
}

.page-to-right-enter-active {
  /*animation: CenterToLeftIn 500ms none ease-in-out;*/
  position: absolute;
  width: 100%;
  animation: LeftToCenter 500ms both ease-in-out;
}

.page-to-right-exit-active {
  position: absolute;
  width: 100%;
  animation: CenterToRight 500ms both ease-in-out;
}

.page-exit-done {
}

