.page {
  height: 100vh;
  position: absolute;
  top: 300px;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 500ms ease-in-out;
}

@keyframes leftIn {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {

  }
}

@keyframes leftOut {
  from {

  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/*无用样式*/
@keyframes RightIn {
  0% {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes RightOut {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.page-enter {
}

.page-enter-active {
  /*animation: leftIn 500ms none ease-in-out;*/
  animation: leftIn 500ms both ease-in-out;
}

.page-enter-done {
}

.page-exit {
}

.page-exit-active {
  animation: leftOut 500ms both ease-in-out;
}

.page-exit-done {
}

