/* Nav */
.nav {
  background: rgba(0, 0, 0, .1);
  padding: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__link {
  color: #fff;
  margin-left: .5em;
  text-decoration: none;
}
